<h1>New Availability Slot</h1>

<%= form_with model: @availability_slot, local: true do |form| %>
  <div class="field">
    <%= form.label :start_time, "Start Date and Time" %>
    <%= form.text_field :start_time, id: "start_time", class: "datetime-picker", readonly: true %>
  </div>

  <div class="field">
    <%= form.label :end_time, "End Date and Time" %>
    <%= form.text_field :end_time, id: "end_time", class: "datetime-picker", readonly: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<div id='slot-picker'></div>
